<h1>Verify your email address</h1>
<p>Hi {{name}},</p>
<p>Thanks for signing up for Stellar Creators. Click the button below to verify your email address and activate your account.</p>
<a href="{{verificationUrl}}" class="btn">Verify Email Address</a>
<hr class="divider" />
<p class="small">This link expires in <strong>24 hours</strong>. If you didn't create an account, you can safely ignore this email.</p>
<p class="small">If the button doesn't work, copy and paste this URL into your browser:</p>
<p class="small">{{verificationUrl}}</p>
